body {
    //elementos gerais
    font-family: "Lato", sans-serif;
    background-color: #e0dadae0;
    overflow-x: hidden;
    #map{
        height: 325px;
        width: auto;
        position: relative;
        display: flex;
    }
    #sidebar{
        font-size:55px;
        cursor:pointer;
        padding: 0px 10px 0 30px;
    }

    .menu-item{
        margin: 0;
        padding: 0;
        button{
            margin:0;
        }
    }
    //sidenav elementos 
    .sidenav{
        img{
            padding-left: 7px; 
        }
        h5{
            color: #3498DB;
            display: inline-block;
            font-size: 60px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: 900;
            letter-spacing: -5px;
        }
        //centralização do logo de menu lateral
        .row{
            padding-left: 25px;
            padding-bottom: 20px;
        }

        //linha de separação do menu lateral
        
        hr{
            color: #f1f1f1;
            margin:0;
            padding: 0;
        }
        p{
            display: inline-block;
            padding-top: 8px;
            padding-left: 8px;
            font-weight: 900;
        }
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #fff;
        overflow-x: hidden;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        padding-top: 60px;
        
        @media screen and (max-height: 895px) {
            padding-top: 15px;
        }
        //seção indisponível da sidenav
        .indisponivel{
            opacity: 0.3;
        }

        .closebtn{
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }
        
        a{
            padding: 8px 8px 8px 15px;
            text-decoration: none;
            font-size: 13px;
            color: #818181;
            display: block;
            -webkit-transition: 0.3s;
            transition: 0.3s;
            i{
                font-size: 30px;
            }
            @media screen and(max-height: 895px) {
                font-size: 12px;
            }

        }

        .selected:hover{
            background-color: #2980B9;
        }
        
    }
    
    .item-dropdown{
        display: inline-block;
         p{
             font-size: 14px;
             margin: 0;
         }
    }

    .nav{
        li:hover{
            background-color: #2980B9;  
        }
    }
    //navbar elementos gerais
    .navbar{
        margin-top: 0; 
        padding: 0;
        margin-right:-16px;
        position: relative;
        overflow: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: inherit;
        background-color: #3498DB;
        //responsividade cel
        @media screen and (max-height: 895px){
            margin-right: -22px;
            font-size: 10px;
        }
        //logo de título da marca
        .logo{
            font-size: 60px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: 900;
            letter-spacing: -5px;
            @media screen and (max-height: 895px){
                font-size: 50px;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-weight: 900;
                letter-spacing: -4px;
                margin-right: 15px;
            }
        }

        .ajust-icon{
            color : #2e2d2dc4;
        }
        p{
            font-weight: 800;
        }

        a{
            color:#ffff;
            padding-left: 5.5rem;
            padding-right: 5.5rem;
            padding-bottom: 2.2rem;
            font-weight: 800;
        }

        ul{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            color:#ffff;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            margin-left: -1px;
            @media screen and (max-height: 895px){
                flex-wrap: wrap-reverse;
            }
        }
    
    //itens da navbar
        li{
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        margin:0;
        color:#ffff;

            @media screen and (max-height: 895px){
                border-left-style: none;
            }

            a{
                display: inherit;
            }
            i{
                padding-top: 20px;
            }
        
        .separate{
            border-left : 1px solid #f1f1f1;
            border-left-style: groove;

            }
        }//fim itens
    }//fim navbar

    .dropbtn {
            background-color: #3498DB;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
    }   
    .dropbtn:hover{
        background-color: #2980B9;  
    }

    .dropdown{
        position: relative;
        display: inline-block;
    }
    .dropdown:hover{
        background-color: #f1f1f1;
    }
    
    .dropdown-content{
        display: none;
        position: fixed;
        background-color: #f1f1f1;
        min-width: 230px;
        overflow: auto;
        -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
            a{
                color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
            a:hover{
                background-color:#fff;
            }

        hr{
            margin:0;
            padding: 0;
        }
        .saiu{
            color:red
        }
    }

    .show{
        display:block;
    }


    .conteudo{
        margin: 2em;
        padding: 0 20px 0 20px;
}
    .montadora{
        display:inherit;
        background-color: #ffffff;
        margin: 0;padding: 0;
        padding-bottom: 12px;
        padding-left: inherit;
        padding-top: 12px;
        text-align: initial;
        h5{
         font-style: bold;
         color: rgb(62,75,91);
         font-weight: 800;
         font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     }   
    i{
        color:rgb(41, 182,255);
    }

}

.col-sm-12{
    padding-right: 15px;
    padding-left: 7px;   
}
.caixa{
    text-align: inherit;
    padding: 30px;
    background: #ffffff;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 3.5px;
}

.caixa-inicio{
    text-align: inherit;
    padding: 15px;
    margin-right:-16px;
    background: #ffffff;
    margin-top: 0;
    border-radius: 3.5px;
    @media screen and (max-height: 895px){
        margin-right: -22px;
    }
    i{
        font-size: 1.1rem;
        margin: 0;
        padding: 0;
        opacity: 0.3;
    }
    h5{
        font-size: 1.1rem;
        display:initial;
        padding: 8px 0 0px 25px;
    }
    .prox-pagina{
        padding: 8px 0 0px 0px;
    }
    
}

.caixa-bloco{
    text-align: inherit;
    padding: 30px;
    background: #ffffff;
    margin-top: 10px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 3.5px;

    @media screen and (max-height: 895px){
        text-align: inherit;
        padding: 30px;
        background: #ffffff;
        margin-top: 10px;
        margin-left: 7px;
        margin-right:  7px;
        border-radius: 3.5px;
    }
}

.subcaixa1{
    text-align: inherit;
    background: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px; 
    margin-left: 25px;
    margin-right:6px;
    border-radius: 3.5px;
    @media screen and (max-height: 895px){
        text-align: inherit;
        background: #ffffff;
        margin-top: 10px;
        margin-bottom: 5px; 
        margin-left: 22px;
        margin-right:22px;
        border-radius: 3.5px;
    }
    
    hr{
        margin-top: 0;
        margin-bottom: 0;
    } 
    .row{
        text-align: center;
        i{
            padding-top: 15px;
            padding-left: 40px;
            font-size: 30px;
            color:  #3498DB;
        }
        p{
            padding-left: 5px;
            padding-top: 24px;
            font-style: bold;
            font-weight: 600;
            font-style: bold;
         color: rgb(62,75,91);
         font-weight: 800;
         font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

    }

    //display das linhas 
    tr{
        padding-left: 5px;
        img{
            height: 80px;
            width: 80px;
            color: #2980B9;
        }
        p{
            padding-top:35px;
            padding-left: 0px;
        }
        th{
        display: flex;
        padding: 0;
        }
    }
}

.subcaixa2{
    text-align: inherit;
    background: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px; 
    margin-right: 22px;
    margin-left:6px;
    border-radius: 3.5px;
    hr{
        margin-top: 0;
        margin-bottom: 0;
    }  
    .row{
        text-align: center;
        i{
            padding-top: 15px;
            padding-left: 35px;
            color: #3498DB;
        }
        p{
            padding-left: 5px;
            padding-top: 24px;
            font-style: bold;
            font-style: bold;
            color: rgb(62,75,91);
            font-weight: 800;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    }
    @media screen and (max-height: 895px){
    text-align: inherit;
    background: #ffffff;
    margin-top: -7px;
    margin-bottom: 10px; 
    margin-right: 22px;
    margin-left: 22px;
    border-radius:3.5px;
    }
}



.col-sm-6{
    padding: 0;
    margin:0;
}


.col{
    border-radius: 0.5px;
}


//Classe para os ícones
    .material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;  /* Preferred icon size */
        display: inline-block;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
      
        /* Support for all WebKit browsers. */
        -webkit-font-smoothing: antialiased;
        /* Support for Safari and Chrome. */
        text-rendering: optimizeLegibility;
      
        /* Support for Firefox. */
        -moz-osx-font-smoothing: grayscale;
      
        /* Support for IE. */
        -webkit-font-feature-settings: 'liga';
                font-feature-settings: 'liga';
      }


}

